/* app css stylesheet */

.inputError{
  background-color: red !important;
}
#message{
  color:red;
}
.hideMessage{
  display:none;
}
.bornOnFriday
{
  background-color: green !important;
}
.databaseInfoContainer
{
  margin-top: 50px;
}
.pullButtonRight
{
  float: right;
}